@media screen and (min-width: 480px){
    
}



Body{
    background:pink;
}
.flex-container{
    display: flex;
    background: blue;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
}
.flex-item{
    background: lightblue;
    padding: 50px;
    margin:5px;
}